<div [ngClass]="tableStyle">
    <h3>User List</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Username</td>
            <td>Admin?</td>
            <td>Reviewer?</td>
        </tr>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.firstname}} {{u.lastname}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.email}}</td>
            <td>{{u.username}}</td>
            <!-- | bool is the title of the pipe -->
            <td>{{u.isAdmin | bool}}</td> 
            <td>{{u.isReviewer | bool}}</td>
            <td>
                <a routerLink="/users/edit/{{u.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>
